body{

    font-family: 'Montserrat', sans-serif;

}


#Barra-menu{

background-color: #ffbb00;


}


#B-Menu{

font-size: 50px;
color: #000000;
}

.navbar-toggler{

border: none;

}



.navbar-toggler:focus{

box-shadow:  0px 0px 0px 0px #000000;
text-shadow: 0px 0px 0px 0px #000000;
border: none;
    
}

#Logo{

box-shadow: 0px 0px 7px 0.1px #000000 ;
border-radius: 100%;

}

#Menu li a{
text-align: center;
color: rgb(0, 0, 0);
font-size: 11px;
margin-top: 5px;
}



#Nav-movil li a{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin-top: 2px;
}


#Nav-movil li a:focus-visible{

box-shadow: none;
text-decoration: none;
text-shadow: none;
border: none;

}

#sub-menu #letras{


color: rgb(0, 0, 0);

}

#sub-menu #letras:hover{

background-color: #ffbb00;
border-radius:30px ;
    
}

#sub-menu{

background-color: #ffd86e;
border-radius: 30px;
}



#Info{

padding: 0;
margin: 0;
border: none;
border-radius: 0;
background-color: #000000;

}

#Info1{
margin-top: 30px;
margin-bottom: 30px;
border: none;
}


#text-1{

text-align: center;

}

#text-1 h1{

color: #ffbb00;
font-size: 30px;
text-align: center;
margin-top: 140px;

}

#text-1 p{

text-align: center;
color: white;
font-size: 15px;
    
}

#text-2 h1{

color: #ffbb00;
font-size: 30px;
text-align: center;
margin-top: 40px;

}
    
#text-2 p{
    
text-align: center;
color: white;
font-size: 15px;
        
}
    
#text-3 h1{

color: #ffbb00;
font-size: 30px;
text-align: center;
margin-top: 40px;

}
    
#text-3 p{
    
text-align: center;
color: white;
font-size: 15px;
        
}


#text-4 h1{

color: #ffbb00;
font-size: 30px;
text-align: center;
margin-top: 160px;

}
    
#text-4 p{
    
text-align: center;
color: white;
font-size: 15px;
        
}

#text-5 h1{

color: #ffbb00;
font-size: 30px;
text-align: center;

}
    
#text-5 p{
    
text-align: center;
color: white;
font-size: 15px;
        
}

#text-4{

text-align: center;

}





#footer{

    margin: 20px;
    padding: 0;
    border: none;
}

#footer-text h1{

color: #000000;
text-align: center;
font-size: 15px;

}

#footer-text p{
color: #000000;
text-align: center;
font-size: 12px;
    
}

#footer-text p:hover{

color: #000000;
background-color: #ffbb00;
border-radius: 30px;

}

#iconos-redes{
color: #000000;
margin-top: 25px;
font-size: 30px;

}

#Copy{
margin-top: 45px;
font-size: 12px;

}