#Barra-menu{

background-color: #ffbb00;

}

#Logo{

box-shadow: 0px 0px 7px 0.1px #000000 ;
border-radius: 100%;

}

#Menu ul li a{

color: rgb(0, 0, 0);
font-size: 11px;
margin-top: 12px;
}

#sub-menu #letras{

color: rgb(0, 0, 0);


}






#Identidad{

width: 100%;
height: auto;
position: relative;
overflow: hidden;

}


#video{
    width: 100%;
}

video{
width: 100%;
width: fit-content;
}

.absolute{

    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

#tlf{

margin-bottom: 40px ;
margin-top: 40px ;


}

#Info h1{

color: #ffbb00;
margin-top: 28%;
font-size: 50px;
}

#Info p{

color: #FFFFFF;
font-size: 15px;
    
}


#Info2 h1{

    color: #ffbb00;
    font-size: 25px;
}
    
#Info2 p{
    
    color: #FFFFFF;
    font-size: 15px;
        
}





#Nuestro-Plan{

margin-top: 0;
padding: 30px;
border: none;
background-color: rgb(255, 255, 255);


}

#texto h1{

color: #000000;
text-align: center;
padding: 30px;
font-size: 50px;

}

#texto p{

color: #000000;
text-align: center;
}

#texto1 h1{

color: #000000;
text-align: center;
padding: 30px;
font-size: 40px;

}
    
#texto1 p{
font-size: 15px;
color: #000000;
text-align: center;
}

#B-Ver-Informacion {

background-color: #ffbb00;
color: #000000;
text-align: center;
padding: 10px;
width: 80%;
border-radius: 20px;
margin-bottom: 40px;

}

#B-Ver-Informacion1 {

    background-color: #ffbb00;
    color: #000000;
    text-align: center;
    margin-bottom: 50px;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    font-size: 12px;
    
}



#B-Ver-Informacion2 {

    background-color: #ffbb00;
    color: #000000;
    text-align: center;
    padding: 5px;
    width: 100%;
    border-radius: 20px;
    font-size: 12px;
    
}

#sociedades{

background-color: #000000;
border-radius: 0;
margin: 0;
padding: 0;

}

#sociedad h1{

    color: #ffffff;
    text-align: center;
    font-size: 50px;

}

#sociedad p{

    color: #ffffff;
    text-align: center;

}

#socio{

background-color: #ffbb00;
border-radius: 50px;
margin: 15px;
border: none;
text-align: center;

}

#socio h2{

font-size: 35px;
color: #000000;

}

#socio p{

font-size: 16px;
color: #000000;
    
}

#socio2 h2{

font-size: 25px;
color: #000000;

}

#socio2 p{

font-size: 12px;
color: #000000;
    
}

#mision{

margin: 0;
padding: 0;
border: none;
background-color: rgb(255, 255, 255);

}

#mision-text h1{
text-align: center;
margin-top: 40%;
color: #000000;

}

#mision-text p{
    text-align: center;
    color: #000000;
}

#vision{

margin: 0;
padding: 0;
border: none;
background-color: #000000;

}

#vision-text h1{
    text-align: center;
    margin-top: 30%;
    color: #ffffff;
}

#vision-text p{
    text-align: center;
    color: #ffffff;
}