#Barra-menu{

background-color: #ffbb00;

}


#B-Menu{

font-size: 50px;
color: #000000;
}

.navbar-toggler{

border: none;

}



.navbar-toggler:focus{

box-shadow:  0px 0px 0px 0px #000000;
text-shadow: 0px 0px 0px 0px #000000;
border: none;
    
}

#Logo{

box-shadow: 0px 0px 7px 0.1px #000000 ;
border-radius: 100%;

}

#Menu ul li a{
text-align: center;
color: rgb(0, 0, 0);
font-size: 11px;
margin-top: 5px;
}

#sub-menu #letras{

color: rgb(0, 0, 0);


}






#Identidad{

width: 100%;
height: auto;
position: relative;
overflow: hidden;

}


#video{
    width: 100%;
}

video{
width: 100%;
width: fit-content;
}

.absolute{

    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

#tlf{

margin-bottom: 40px ;
margin-top: 40px ;


}

#Info h1{

color: #ffbb00;
margin-top: 28%;
font-size: 50px;
}

#Info p{

color: #FFFFFF;
font-size: 15px;
    
}


#Info2 h1{

    color: #ffbb00;
    font-size: 25px;
}
    
#Info2 p{
    
    color: #FFFFFF;
    font-size: 15px;
        
}





#Nuestro-Plan{

margin-top: 0;
padding: 30px;
border: none;
background-color: rgb(255, 255, 255);


}

#texto h1{

color: #000000;
text-align: center;
padding: 30px;
font-size: 50px;

}

#texto p{

color: #000000;
text-align: center;
}

#texto1 h1{

color: #000000;
text-align: center;
padding: 30px;
font-size: 40px;

}
    
#texto1 p{
font-size: 15px;
color: #000000;
text-align: center;
}

#B-Ver-Informacion {

background-color: #ffbb00;
color: #000000;
text-align: center;
padding: 10px;
width: 80%;
border-radius: 20px;
margin-bottom: 40px;

}

#B-Ver-Informacion1 {

    background-color: #ffbb00;
    color: #000000;
    text-align: center;
    margin-bottom: 50px;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    font-size: 12px;
    
}



#B-Ver-Informacion2 {

    background-color: #ffbb00;
    color: #000000;
    text-align: center;
    padding: 5px;
    width: 100%;
    border-radius: 20px;
    font-size: 12px;
    
}

#sociedades{

background-color: #000000;
border-radius: 0;
margin: 0;
padding: 0;

}

#sociedad h1{

    color: #ffffff;
    text-align: center;
    font-size: 50px;

}

#sociedad p{

    color: #ffffff;
    text-align: center;

}

#socio{

background-color: #ffbb00;
border-radius: 50px;
margin: 15px;
border: none;
text-align: center;

}

#socio h2{

font-size: 35px;
color: #000000;

}

#socio p{

font-size: 16px;
color: #000000;
    
}

#socio2 h2{

font-size: 25px;
color: #000000;

}

#socio2 p{

font-size: 10px;
color: #000000;
    
}

#mision{

margin: 0;
padding: 0;
border: none;
background-color: rgb(255, 255, 255);

}

#mision-text h1{
text-align: center;
margin-top: 40%;
color: #000000;

}

#mision-text p{
    text-align: center;
    color: #000000;
}

#mision-text1 h1{
font-size: 50px;
text-align: center;
margin-top: 40%;
color: #000000;

}

#mision-text1 p{
    font-size: 18px;
    text-align: center;
    color: #000000;
}


#vision{

margin: 0;
padding: 0;
border: none;
background-color: #000000;

}

#vision-text h1{
    text-align: center;
    margin-top: 30%;
    color: #ffbb00;
}

#vision-text p{
    text-align: center;
    color: #ffffff;
}


#vision-text1 h1{
font-size: 50px;
text-align: center;
color: #ffbb00;

}

#vision-text1 p{
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}


#valores{

margin: 0;
padding: 0;
border: none;
background-color: #000000;

}

#valores-text h1{
    text-align: center;
    margin-top: 20%;
    color: #000000;
}

#valores-text p{
    text-align: center;
    color: #000000;
}


#valores-text1 h1{
font-size: 50px;
text-align: center;
color: #000000;

}

#valores-text1 p{
    font-size: 18px;
    text-align: center;
    color: #000000;
}


#equipo{

    margin: 0;
    padding: 0;
    border: none;
    background-color: #000000;

}

#equipo-text h1{
    text-align: center;
    margin-top: 40%;
    color: #ffbb00;
}

#equipo-text p{
    text-align: center;
    color: #ffffff;
}


#equipo-text1 h1{
font-size: 50px;
text-align: center;
color: #ffbb00;

}

#equipo-text1 p{
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}


#Mapa-text h1{
margin-top: 60px;
text-align: center;
color: #ffbb00;

}



.slider{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 40s linear infinite;

}

@keyframes rotate {
    0% {
    transform: perspective(3000px) rotateY(0deg);
    }

    100% {
    transform: perspective(3000px) rotateY(360deg);
    }
}

.slider span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(250px);
}

.slider span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    border-radius: 30px;
    object-fit: cover;

}

.slider span img:hover{
    transform: translateY(-10px) scale(1);

}





#juegos{
padding-top: 50px;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;

}





#acciones:hover{
    transform: translateY(-10px) scale(1);

}


.slider-container{

    width: 100%;
    margin: 2rem auto;
    display: grid;
    padding: 10px;
    grid-auto-flow: column;
    column-gap: 1.5rem;
    overflow: auto;

}

.slider-container::-webkit-scrollbar{

display: none;


}



.slider-item{
margin: 0;
position: relative;
width: 100%;
height: 100%;
border-radius: 20px;
animation: slider 20s linear infinite;

}

.slider-item img{
width: 160px;
height: 210px;
object-fit: fill;
border-radius: 20px;
transition: all .4s ease-in-out;
cursor: pointer;
}


.slider-item img:hover{

transform: translateY(-10px) scale(1);

}


@keyframes slider{
    0%{transform: translateX(0);}
    10%{transform: translateX(0)}

    15%{transform: translateX(-110%)}
    30%{transform: translateX(-110%)}

    35%{transform: translateX(-225%)}
    50%{transform: translateX(-225%)}

    55%{transform: translateX(-110%)}
    70%{transform: translateX(-110%)}

    75%{transform: translateX(0)}
    90%{transform: translateX(0)}

    95%{transform: translateX(0)}
    100%{transform: translateX(0)}


}





#footer{

    margin: 20px;
    padding: 0;
    border: none;
}

#footer-text h1{

color: #000000;
text-align: center;
font-size: 15px;

}

#footer-text p{
color: #000000;
text-align: center;
font-size: 12px;
    
}

#iconos-redes{

margin-top: 25px;
font-size: 30px;

}

#Copy{
margin-top: 45px;
font-size: 12px;

}